VITE_API_BASE_URL=https://0pmdeq1cnb.execute-api.us-east-1.amazonaws.com/Prod
VITE_MAPBOX_TOKEN=pk.your_public_token_here
VITE_COGNITO_DOMAIN=https://glasto-dev-563146874500.auth.us-east-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=16l759kk9thafvd1bt563ju1k7
VITE_AUTH_REDIRECT_URI=http://localhost:5173/auth/callback
